@import url('https://fonts.googleapis.com/css2?family=Abel&family=Hammersmith+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img  {
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
    font-family: 'Abel', sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 200vh;
}

.logo {
    width: 150px;
}

#logonav {
    margin-top: -1.1em;
    width: 120px;
}

nav {
    height: 5em;
    width: 100%;
    position: fixed;
    padding-top: 1em ;
    padding-bottom: 1em;
    padding-right: 7em;
    padding-left: 7em;
    z-index: 100;
    transition: .5s;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 22px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;
    font-family: 'Hammersmith One', sans-serif;
}

.nav>#nav-check {
    display: none;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url("../img/backgroundinicial.png");
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

#coracao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 12em;
}

#coracaoimagem{
    height: 19em;
    animation-duration: 3s;
    animation-name: pulso;
    animation-iteration-count: infinite;
}

@keyframes pulso {
    0% {
        transform: scale(1);
      }
    
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
      }

    0%{
        transform: scale(1);
      }
}

h1 {
    font-size: 2em;
    margin-bottom: 5em;
    font-family: 'Hammersmith One', sans-serif;
}

#parte1 {
    display: flex;
    justify-content: space-between;
}

article {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 5em;
    text-align: justify;
    font-size: 1.2em;
}

#img1 {
    height: 19em;
    margin-top:2.5em;
    box-shadow: rgb(130, 122, 122) 0px 4px 12px;
}

h2 {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}

#texto1 {
    margin-right: 10em;
    margin-top:2.5em;
    font-size: 1.1em;
}

.progresso {
    position: fixed;
    top: 5em;
    z-index: 100;
    width: 100%;
}

.barraprogresso {
    height: 5px;
    background: #004aac;
}

#impressora1 {
    background-image: linear-gradient(to right top, #6f9bdc, #6284cb, #576dba, #5056a6, #4b3e92);
    height: 90vh;
    width: 100vw;
    margin-top:6em;
    box-shadow: rgb(97, 94, 94) 0px 7px 29px 0px;
}

#impressora {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#quadrado {
    border-left: 7px black solid;
    border-right: 7px black solid;
    width: 20em;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(227, 253, 255, 1),
     rgba(135, 182, 178, 1), rgba(136,182,178,1), 
     rgba(136, 182, 178, 1), rgba(136,182,178,1), 
     rgba(136,182,178,1), rgba(227,253,255,1))
}

#retangulo {
    border: 7px black solid;
    width: 25em;
    height: 4.5em;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(228,245,255,1), 
    rgba(142, 215, 199, 1), rgba(228, 245, 255, 1), 
    rgba(228,245,255,1), rgba(142,215,199,1))
}

#retangulo-cima {
    border: 7px black solid;
    width: 25em;
    height: 2em;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(228,245,255,1),
     rgba(142, 215, 199, 1), rgba(228, 245, 255, 1),
      rgba(228,245,255,1), rgba(142,215,199,1))
}

#quadrado-dentro {
    width: 15em;
    height: 100%;
    border-left: 7px black solid;
    border-right: 7px black solid;
    position: relative;
}

#quadrado-maisdentro {
    width: 100%;
    height: 1.5em;
    border-top: 7px black solid;
    border-bottom: 7px black solid;
    margin-top: 2.5em;
    animation-name: apoio;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: absolute;
    display: block;
    animation-timing-function: ease-in-out;
    background: linear-gradient(360deg, rgba(227, 253, 255, 1),
     rgba(227,253,255,1), rgba(185, 236, 232, 1))
}

#pincel {
    margin-top: -3.6em;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: pincel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: absolute;
    animation-timing-function: ease-in-out;
}

@keyframes pincel {
    0% {left: 0px;top: 80px}
    19% {top: 76px;}
    25% {left: 80px;}
    48% {top: 200px;}
    50% {left: 80px;}
    70% {top: 90px;}
    75% {left: -80px;}
    90% {top: 80px;}
    100% {left: 0px; top:80px}
}

@keyframes apoio {
    0% {top: 0px}
    19% {top: 3px}
    48% {top: 127px;}
    70% {top: 17px;}
    90% {top: 3px;}
}

#cabeca {
    width: 4em;
    height: 4em;
    border: 7px black solid;
    border-radius: 5px;
    background: radial-gradient(circle at 125% 50%,rgba(135, 182, 178, 1), rgba(227, 253, 255, 1), rgba(227,253,255,1), rgba(136, 182, 178, 1))
}

#ponta {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 0 20px ;
    border-color: #000000 transparent transparent;
    
}

#quadrado-maisdentro-debaixo {
    width: 100%;
    border-top: 7px black solid;
    border-bottom: 7px black solid;
    height: 1em;
    background: linear-gradient(360deg, rgba(228,245,255,1), rgba(142, 215, 199, 1), rgba(228, 245, 255, 1), rgba(228,245,255,1))
}

#partedebaixo {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    border: 1px black solid;
    flex-direction: column;
}

.suporte {
    width: 15px;
    height: 15px;
    border-left: 7px black solid;
    border-right: 7px black solid;
    background: linear-gradient(90deg, rgba(228,245,255,1), 
    rgba(142, 215, 199, 1), rgba(228, 245, 255, 1), 
    rgba(228,245,255,1), rgba(142,215,199,1))

}

#suportes {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    
}

#gambiarra {
    width: 120px;
    height: 15px;
    background-color: rgb(105, 181, 205);
}

#vantagens {
    width: 100%;
    height: 130vh;
}

#vantagenstitulo{
    font-size: 2em;
}

#containertexto{
    font-size: 1.1em;
    width: 100%;
    display: flex;
    justify-content: space-between  ;
}

#containertexto1 {
    width: 45%;
}

#containertexto2{
    width: 45%;
}

#vantagenstexto1 {
    margin-bottom: 5em;
}

.espacamentotexto {
    padding-bottom: 2em;
}

.espacamentotitulo {
    margin-top: 2em;
}

.titulodesvantagens {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}

#desvantagens{
    width: 100%;
    height: 130vh;
}

#imagemetexto1{
    font-size: 1.1em;
    width: 100%;
    display: flex;
    justify-content: space-between  ;
    padding-top: 3em;
    padding-bottom: 3em;
    align-items: center;

}

#imagemetexto2{
    font-size: 1.1em;
    width: 100%;
    display: flex;
    justify-content: space-between  ;
    padding-top: 3em;
    padding-bottom: 3em;
    align-items: center;
}

#imagemetexto3{
    font-size: 1.1em;
    width: 100%;
    display: flex;
    justify-content: space-between  ;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
    align-items: center;
}

.imagem{
    max-width: 11em;
}

.texto {
    margin-left: 5em;
}

#sobrenos {
    margin-top: -5em;
    font-size: 1.1em;
}

#texto {
    margin-right: 5em;
}

#imgrespiro {
    width: 100%;
    height: 80vh;
    margin-top: 25em;
}

#respiro {
    width: 100%;
    height: 80vh;
    box-shadow: rgba(50, 50, 50, 0.507) 0 0 50px;
}

#aplicacao{
    width: 100%;
}

#tituloaplicacao {
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}

#aplicacao h3 {
    margin-top: 1em;
}

#textointro {
    font-size: 1.1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.reveal{
    position: relative;
    top: 150px;
    opacity: 0;
    transition: 1s all ease;
}


  
.reveal.active{
    top: 0;
    opacity: 1;
}

.outros {
    font-size: 1.1em;
}

.textoeimagemaplicacao {
    display: flex;
    justify-content: space-between;
}

.clara .topEmbed {
    display: none;
}

.imagemaplicacao {
    width: 15em;
    height: 15em;
    margin-top: -2em;
    box-shadow: rgb(130, 122, 122) 0px 4px 12px;
}

#imgss{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#imgss > * {
    box-shadow: rgb(130, 122, 122) 0px 4px 12px;
}

.textoaplicacao {
    width: 60%;
    font-size: 1.1em;
}

#titulocoracao {
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    padding-bottom: 1em;
    margin-top: 2em;
}

#coracaoquegira {
    margin-top: 1em;
}

#estilotexto {
    position: relative;
}

#estilotexto::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

#estilotexto:hover::before {
    bottom: 0;
    height: 100%;
}

#interatividade {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#textinhocoracao {
    font-size: 1.1em;
    margin-top: 3em;
}

#materiais {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    padding-bottom: 1em;
}

#introducaomateriais {
    font-size: 1.1em;
}

#citacao {
    margin-left: 7em;
    margin-right: 7em;
    margin-top:2em ;
    margin-bottom: 2em;
    font-size: 1.1em;
}

#polimeros {
    display: flex;
    justify-content: space-between ;
    font-size: 1.1em;
}

#imgpolimeros {
    width: 100%;
    height: 60vh;
    padding-top: 2em;
    padding-bottom: 2em;
}

#imagempolimeros {
    max-width: 15em;
    margin-top: 2em;
}

.imagemetextopolimeros {
    flex-direction: column;
    width: 45%;
    display: flex;
    align-items: center;
}

#hidrogel {
    display: flex;
    justify-content: space-between ;
    font-size: 1.1em;
}

#imghidrogeis {
    width: 100%;
    height: 60vh;
    padding-top: 2em;
    padding-bottom: 2em;
}

#hidrogeis {
    margin-top: 3em;
}

footer {
    background-color: #0099FF;
    width: 100%;
    height: 35vh;
}

button {
    background-color: rgb(117, 233, 117);
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    font-family: 'Poppins';
    cursor: pointer;
}

input {
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    background-color: rgb(210, 232, 251);
    font-family: 'Poppins';
}

input::placeholder {
    color: #004aac;

}

.fotos {
    width: 15em;
    border-radius: 5px;
}

.fotos{
    transition: 0.5s;
}

#impressoratitulo {
    color: white;
    margin-bottom: 15px;
}

.fotos:hover{
    padding: 20px;
    box-shadow:
        inset #003776 0 0 0 5px, 
        inset #0f8fc6 0 0 0 1px, 
        inset #0c6eab 0 0 0 10px, 
        inset #1f71bd 0 0 0 11px, 
        inset #8cdcff 0 0 0 16px, 
        inset #48bae4 0 0 0 17px, 
        inset #e5f9f7 0 0 0 21px, 
        inset #bfecf7 0 0 0 22px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 60vh;
    max-width: 1440px;
    margin-left: 3.5em;
    margin-bottom: 8em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 60vh;
    max-width: 1440px;
    margin-left: 3.5em;
}


.perfil {
    transition: 0.3s;
}

.linha{
    display: flex;
    justify-content: space-evenly;
}

.perfil:hover {
    transform: translateY(1em);
}

.perfil .nome {
    background-color: #1755a5;
    color: #fff;
    font-family: "Poppins";
    padding: 25px 15px;
    transform: translate(-50%, -50px);
    font-size: 20px;
    opacity: 0;
    transition: 0.3s;
    margin-left: 0.23em;    
    
}

.perfil img:hover + .nome {
    opacity: 1;
    transform: translateX(-50%);

}

#tudo {
    display: flex;
    width: 100%;
    height: 30vh;
}

#newslerner {
    font-family: 'Hammersmith One';
    color: white;
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.8em;
}

#tamanho {
    display: flex;
    gap: 2em;
}

#input {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sociais {
    font-family: 'Hammersmith One';
    color: white;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#texto1desvantagem {
    font-size: 1.1em;
}

#midiassociais{
    font-size: 2.5em;
}

#logoif {
    width: 10em;
}

#topo {
    background-color: #1755a5;
    width: 14vw;
    height: 4vh;
    border-radius: 10px;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    color: white;
    font-weight: bold ;
}

#textotopo {
    font-size: 1em;
}

#setinha {
    font-size: 1em;
}

#iconeemail {
    font-size: 2.5em;
}

#midias {
    color: white;
}

#simbolo {
    margin-top: 0.1em;
    font-size: 2.4em;
}

#email {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: #1755a5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgfooter {
    width: 9em;
}

#logofooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    flex-direction: column;
}

#onda {
    margin-top: -34em;
    margin-bottom: -0.4em;
}
