@media (max-width:720px) and (min-width: 600px) {
    body {
        box-sizing: border-box;
        margin: 0;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
        margin-right: 4em;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 30px;
        height: 10px;
        border-top: 3px solid #050068;
    }

    .nav>.nav-links {
        display: block;
        width: 100%;
        background-color: #7ac2f7;
        height: 0px;
        transition: all 0.3s ease-in-out;
        overflow-y: hidden;
        left: 0px;
        border-radius: 1%;
        text-align: center;
        font-size: 16px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(40vh - 0px);
        overflow-y: auto;
    }

    .nav-title {
        margin-top: 0.3em;
    }

    article {
        margin-left: 2em;
        margin-right: 2em;
        font-size: 1.6em;
    }

    #coracao {
        margin-top: 27em;
    }

    #parte1 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #oquee {
        margin-top: -7em;
    }

    #texto1 {
        margin: 0;
        margin-top: 1em;
    }

    #containertexto {
        display: flex;
        flex-direction: column;
    }

    #containertexto1 {
        width: 100%;
    }

    #containertexto2 {
        width: 100%;
    }

    #desvantagens {
        margin-top: 20em;
    }

    #imagemetexto1 {
        display: flex;
        flex-direction: column;
    }

    #imagemetexto2 {
        display: flex;
        flex-direction: column;
    }

    #imagemetexto3 {
        display: flex;
        flex-direction: column;
    }

    .texto {
        margin: 0;
    }

    #texto {
        margin: 0;
    }

    .imagem {
        margin: 0;
    }

    #respiro {
        height: 22em;
    }

    #aplicacao {
        margin-top: -35em;
        display: flex;
        flex-direction: column;
    }


    #logonav {
        margin-top: -1.5em;
        width: 120px;
    }

    .textoaplicacao {
        width: 100%;
    }

    .textoeimagemaplicacao {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3em;
    }

    .imagemaplicacao {
        margin-top: 2em;
        display: flex;
    }

    #titulocoracao {
        text-align: center;
    }

    #imagem2 {
        display: none;
    }

    #img2 {
        display: none;
    }

    #outro {
        text-align: left;
    }

    #materiaiscontainer {
        display: flex;
        flex-direction: column;
    }

    #introducaomateriais {
        margin: 0;
    }

    #citacao {
        margin: 0;
        padding: 1em;
    }

    #imgpolimeros {
        height: 12em;
    }

    #polimeros {
        display: flex;
        flex-direction: column;
    }

    .imagemetextopolimeros {
        width: 100%;
        margin-top: 5em;
    }

    #imghidrogeis {
        height: 12em;
    }

    #hidrogel {
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin-top: 15em;
        margin-left: 0.9em;
    }

    .linha {
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        margin-top: 15em;
        margin-left: 0.9em;
        margin-top: 20em;
    }

    .perfil {
        width: 384px;
        height: 384px;
        margin-top: 5em;
    }

    .nome {
        background-color: #1755a5;
        color: #fff;
        font-family: "Poppins";
        padding: 25px 15px;
        font-size: 1em;
    }

    #tudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

    #input {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-bottom: 3em;
    }

    #newslerner {
        text-align: center;
        font-size: 3em;
        margin-top: 2em;
        padding: 0;
        margin-bottom: 0.5em;
    }

    #tamanho {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #jonas {
        font-size: 1.5em;
        margin-right: 0.8em;
    }

    button {
        background-color: rgb(74, 211, 74);
        font-size: 1.5em;
        color: white;
    }

    footer {
        background: rgb(0, 110, 183);
        background: linear-gradient(0deg, rgba(0, 110, 183, 1) 0%, rgba(0, 135, 225, 1) 50%, rgba(0, 153, 255, 1) 100%);
        height: 70vh;
    }

    #onda {
        margin-top: 25em;
    }

    #logofooter {
        margin-bottom: 3em;
    }

    #imgfooter {
        margin-bottom: 1em;
        width: 10em;
    }

    #logoif {
        width: 15em;
    }

    #midiassociais {
        font-size: 3em;
    }

    #sociais {
        width: 60%;
    }

    #email {
        width: 5em;
        height: 5em;
        background-color: rgb(74, 211, 74);
    }

    #simbolo {
        margin-top: 0.1em;
        font-size: 3em;
    }

}